<h2>BMI</h2>
<form action="/bmi" method="post">
  <label for="units">Units:</label><select name="units" id="units">
    <option value="metric">metric</option>
    <option value="imperial">imperial</option>
  </select>
  <label for="mass">Mass:</label><input type="text" id="mass" name="mass">
  <label for="height">Height:</label><input type="text" id="height" name="height">
  <button>Calc It!</button>
</form>