<h2>Basic Calculator</h2>
<div class="form-container">
  <form action="/" method="post">
    <div class="form-col-left">
      <div class="form-row"><label for="num1">First number:</label></div>
      <div class="form-row"><label for="op">Operator:</label></div>
      <div class="form-row"><label for="num2">Second number:</label></div>
    </div>
    <div class="form-col-right">
      <div class="form-row"><input type="text" name="num1" id="num1"></div>
      <div class="form-row"><select name="op" id="op">
        <option value="+">plus</option>
        <option value="-">minus</option>
        <option value="*">multiplied by</option>
        <option value="/">divided by</option>
      </select></div>
      <div class="form-row"><input type="text" name="num2" id="num2"></div>
    </div>
    <div class="form-row"><button>Calc It!</button></div>
    <%= "<div class=\"result\">#{@result}</div>" if @result %>
  </form>
</div>