  <nav>
    <ul>
      <li><a href="/">Basic</a></li>
      <li><a href="/trip">Trip</a></li>
      <li><a href="/bmi">BMI</a></li>
      <li><a href="/mortgage" class="highlighted">Mortgage</a></li>
    </ul>
  </nav>
<div class="form-container">
  <form action="/mortgage" method="post">
    <div class="form-col-left">
      <div class="form-row"><label for="loan">Loan (£):</label></div>
      <div class="form-row"><label for="apr">APR (%):</label></div>
      <div class="form-row"><label for="term">Term (months)</label></div>
    </div>
    <div class="form-col-right">
      <div class="form-row"><input type="number" name="loan" id="loan" autofocus="true" tabindex="1"></div>
      <div class="form-row"><input type="number" name="apr" id="apr" tabindex="2"></div>
      <div class="form-row"><input type="number" name="term" id="term" tabindex="3"></div>
    </div>
    <div class="form-row"><button tabindex="4">Calc It!</button></div>
    <%= "<div class=\"result\">Your monthly payment will be $#{@result}</div>" if @result %>
  </form>
</div>