<h2>Mortgage</h2>
<form action="/mortgage" method="post">
  <label for="loan">Loan (£):</label><input type="text" name="loan" id="loan">
  <label for="apr">APR (%):</label><input type="text" name="apr" id="apr">
  <label for="term">Term (months)</label><input type="text" name="term" id="term">
  <button>Calc It!</button>
</form>