  <nav>
    <ul>
      <li><a href="/">Basic</a></li>
      <li><a href="/trip" class="highlighted">Trip</a></li>
      <li><a href="/bmi">BMI</a></li>
      <li><a href="/mortgage">Mortgage</a></li>
    </ul>
  </nav>
<div class="form-container">
  <form action="/trip" method="post">
  <div class="form-col-left">
    <div class="form-row"><label for="distance">Distance (miles):</label></div>
    <div class="form-row"><label for="mpg">MPG:</label></div>
    <div class="form-row"><label for="cost">Cost ($/gallon):</label></div>
    <div class="form-row"><label for="speed">Speed (MPH):</label></div>
  </div>
  <div class="form-col-right">
    <div class="form-row"><input type="text" id="distance" name="distance" autofocus="true" tabindex="1"></div>
    <div class="form-row"><input type="text" id="mpg" name="mpg" tabindex="2"></div>
    <div class="form-row"><input type="text" id="cost" name="cost" tabindex="3"></div>
    <div class="form-row"><input type="text" id="speed" name="speed" tabindex="4"></div>
  </div>
    <div class="form-row"><button tabindex="5">Calc It!</button></div>
    <%= "<div class=\"result\">#{@result}</div>" if @result %>
  </form>
</div>