<h2>Trip Calculator</h2>
<form action="/trip" method="post">
  <label for="distance">Distance (miles):</label><input type="text" id="distance" name="distance">
  <label for="mpg">MPG:</label><input type="text" id="mpg" name="mpg">
  <label for="cost">Cost ($/gallon):</label><input type="text" id="cost" name="cost">
  <label for="speed">Speed (MPH):</label><input type="text" id="speed" name="speed">
  <button>Calc It!</button>
</form>