body {
  /*background: hotpink;*/ /* obligatory ;) */
}

.form-col-left {
  display: inline-block;
}

.form-col-right {
  display: inline-block;
}

.form-row {
  padding: 5px;
}

.result {
  margin: 10px 0;
  padding: 5px;
  font-size: 40px;
  background: #ACA;
}