body {
  /*background: hotpink;*/ /* obligatory ;) */
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 80px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

nav ul {
  padding: 0;
  text-align: center;
  background: moccasin;
}

nav ul li {
  display: inline;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  padding: 10px;
}

nav ul li .highlighted {
  padding: 0 10px;
  background: #fff;
}

nav ul li a {
  text-decoration: inherit;
}


.form-container {
  text-align: center;
}

.form-col-left {
  display: inline-block;
  text-align: right;
}

.form-col-right {
  display: inline-block;
  text-align: left;
}

.form-row {
  padding: 5px;
}

.result {
  margin: 10px 0;
  padding: 5px;
  font-size: 40px;
  background: #ACA;
}